<div class="row">
<div class="col-8">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">

      <!-- <img class="d-block w-100" src="./../assets/images/banner.jpg" alt="First slide"> -->
          <div class="hero-split">

      <div class="hero-split-body height-full hero-split-40-60 right " style="background-color:#e5bbb4;">
      					<h6>RAW JEWELRY</h6>
      					<h4>Find the most imaginative items out there.</h4>
                <p>SHOP ></p>

      </div>


<div class="hero-split-visuals left">
  <img class="d-block w-100" src="./../assets/images/banner.jpg" alt="First slide">
</div>




</div>
</div>



    <div class="carousel-item">
      <div class="hero-split">

  <div class="hero-split-body height-full hero-split-40-60 right " style="background-color:#e5bbb4;">
            <h6>CUSTOM MADE</h6>
            <h4>Create somthing spectacular with a maker.</h4>
            <p>SHOP ></p>

  </div>


<div class="hero-split-visuals left">
      <img class="d-block w-100" src="./../assets/images/banner2.jpg" alt="Second slide">
    </div>
  </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>
<div class="col-4">


<div class="card card-default" id="dog-card">
<img class = "card-img" id="dog-card-img" src="./../assets/images/pets.jpg" >
</div>
<br>
<div class="row">
<div class="card card-default" id="pet-card">
<div class="card-body">
  Cute pets needs equally cute accessories >
</div>
</div>
</div>
</div>
</div>
<br>

  <div class="row">
  <div class="col-4 etsy-promises"><h6><span class="check">✓</span> Unique everything</h6><p>We have millions of one-of-a-kind items, so you can find whatever you need (or really, really want).</p></div>
  <div class="col-4 etsy-promises"><h6><span class="check">✓</span> Independent sellers</h6><p>Buy directly from someone who put their heart and soul into making something special.</p></div>
  <div class="col-4 etsy-promises"><h6><span class="check">✓</span> Secure shopping</h6><p>We use best-in-class technology to protect your transactions.</p></div>
</div>


<h3 class="home-heading">Popular right now</h3>
<div class="row">
<div *ngFor="let item of items" (click)="goToDetailPage(item)" class="card card-default col item-display-cards">

    <img class="card-img-top" src="{{item.url}}" alt="Card image cap">

  <div class = "card-body" >
    <p id="card-item-name">{{item.title}} <br><span class="text-muted" id="card-shop-name"> {{item.shopName}}</span>
      <br><strong><span id="card-item-price">{{item.price}}</span></strong></p>
      </div>

</div>
</div>
<br>
<h3 class="home-heading">Shop by category</h3>
<div class="row">
<div class="card card-default col item-display-cards">
  <img class = "card-img-top" src="./../assets/images/home.jpg" >
  <div class="card-body">
    Home & Living
  </div>
</div>

<div class="card card-default col item-display-cards">
<img class = "card-img-top" src="./../assets/images/jewlery.jpg" >
  <div class="card-body">
    Jewelry
  </div>
</div>

<div class="card card-default col item-display-cards">
<img class = "card-img-top" src="./../assets/images/clothing.jpg" >
  <div class="card-body">
    Clothing
  </div>
</div>

<div class="card card-default col item-display-cards">
<img class = "card-img-top" src="./../assets/images/toys.jpg" >
  <div class="card-body">
    Toys & Games
  </div>
</div>

<div class="card card-default col item-display-cards">
<img class = "card-img-top" src="./../assets/images/craft.jpg" >
  <div class="card-body">
    Craft Supplies & Tools
  </div>
</div>

<div class="card card-default col item-display-cards">
<img class = "card-img-top" src="./../assets/images/weddings.jpg" >
  <div class="card-body">
    Weddings
  </div>
</div>
</div>
