.home-heading{
  text-align: center;
}

.item-display-cards{
  padding: 0px;
  padding-bottom: -2px;
}

.card-img-top{
  height: 150px;
}

#pet-card{
  background-color: #e5bbb4;
  margin-left: 10px;
}

#dog-card-img{
  height: 210px;
}

#dog-card{
    margin-top: 10px;
}

.etsy-promises{
  color: grey;
  text-align: center;
}

.carousel{
  margin-top: 10px;
  border-radius: 2px 2px 2px 2px;
  overflow: hidden;
}

.check{
  color: #ff6e1a;
}

.hero-split{
  display: flex;
}

.hero-split-body{
  padding-top: 90px;
  text-align: center;
}
