#card-shop-name{
  font-size: 10px;
}

#card-item-name{
  font-size: 12px;
}

#card-item-price{
  font-size: 12px;
}

.home-heading{
  text-align: center; 
}

.card-default{
  padding: 0px;
  margin: 2px;
  padding-bottom: -2px;
}

.card-img-top{
  height: 150px;
}

#pet-card{
  background-color: #e5bbb4;
}

.card-img{
  height: 320px;
}

.etsy-promises{
  color: grey;
  text-align: center;
}

.check{
  color: #ff6e1a;
}
